spring:
  application:
    name: syslotoapp
  datasource:
    url: jdbc:h2:file:./data/sysloto_db
    username: sa
    password: 1234
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
