spring:
  application:
    name: syslotoapp
  datasource:
    url: jdbc:h2:file:./data/sysloto_db
    username: sa
    password: 1234
    driver-class-name: org.h2.Driver
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
