<!DOCTYPE html>
<html lang="es" th:replace="~{layouts/base :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Ventas diarias</title>
</head>
<body>
    <section class="flex gap-3 mb-4 mr-4 max-h-screen w-full">
        <div class="flex flex-col rounded-3xl bg-surface w-md">
            <header class="flex flex-col px-1 pt-2 pb-3">
                <div class="flex justify-end items-centercenter p-1">
                    <button type="button" class="flex px-4 py-2 rounded-full bg-primary text-on-primary">
                        <i class="material-symbols-rounded">add</i>
                    </button>
                </div>
                <h2 class="flex justify-center text-headline-medium">Ventas diarias</h2>
            </header>
            <div class="flex px-4">
                <span><span th:text="${count}">count</span> boletos</span>
            </div>
            <ul>
                <li>
                    <a href="#" class="flex items-center px-4 py-2 rounded-full hover:bg-surface-container-high transition-colors">
                        <span>Nombre Apellido</span>
                    </a>
                </li>
            </ul>
        </div>
        <div th:replace="~{layouts/emptyPane :: empty-pane('No hay boletos seleccionados.', 'Selecciona un boleto para visualizar el detalle de venta.')}"></div>
    </section>
</body>
</html>