@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";
@source "../resources/templates/**/*.{html,js}";

@theme static {
    --color-primary: #5A631E;
    --color-on-primary: #ffffff;
    --color-primary-container: #DFE995;
    --color-on-primary-container: #434B06;
    --color-primary-fixed: #DFE995;
    --color-on-primary-fixed: #191E00;
    --color-secondary: #5D6145;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #E3E5C2;
    --color-on-secondary-container: #46492F;
    --color-tertiary: #844C73;
    --color-on-tertiary: #ffffff;
    --color-tertiary-container: #FFD8EE;
    --color-on-tertiary-container: #69345A;
    --color-tertiary-fixed: #FFD8EE;
    --color-on-tertiary-fixed: #36072C;

    --color-error: #BA1A1A;
    --color-on-error: #ffffff;
    --color-error-container: #FFDAD6;
    --color-on-error-container: #93000A;

    --color-surface: #FCFAED;
    --color-on-surface: #1B1C14;
    --color-surface-variant: #E4E3D2;
    --color-on-surface-variant: #47483B;
    --color-outline: #78786A;
    --color-outline-variant: #C8C7B7;

    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #F6F4E7;
    --color-surface-container: #F0EEE1;
    --color-surface-container-high: #EAE9DC;
    --color-surface-container-highest: #E5E3D6;

    --color-success: #446832;
    --color-on-success: #ffffff;
    --color-success-container: #C4EFAC;
    --color-on-success-container: #2D4F1D;

    --font-google-sans: 'Google Sans', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
}

@theme inline {
    --font-sans: 'Google Sans', sans-serif;
}

@utility text-display-small {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: var(--font-weight-normal);
    font-style: normal;
    color: var(--color-on-surface);
    font-family: 'Nunito', sans-serif;
}

@utility text-headline-medium {
    font-size: 1.75rem;
    line-height: var(--text-4xl);
    font-weight: var(--font-weight-normal);
    font-style: normal;
    color: var(--color-on-surface);
    font-family: 'Google Sans', sans-serif;
}

@utility text-body-large {
    font-size: 1rem;
    line-height: var(--text-xl);
    font-weight: var(--font-weight-normal);
    font-style: normal;
}

@utility text-body-medium {
    font-size: var(--text-sm);
    line-height: var(--text-xl);
    font-weight: var(--font-weight-normal);
    font-style: normal;
}

@utility text-body-small {
    font-size: var(--text-xs);
    line-height: var(--text-xl);
    font-weight: var(--font-weight-normal);
    font-style: normal;
}

@utility text-label-large {
    font-size: var(--text-sm);
    line-height: var(--text-xl);
    font-weight: var(--font-weight-medium);
    font-style: normal;
}

@utility text-label-medium {
    font-size: var(--text-xs);
    line-height: var(--text-base);
    font-weight: var(--font-weight-medium);
    font-style: normal;
}

@utility text-label-small {
    font-size: 0.6875rem;
    line-height: var(--text-base);
    font-weight: var(--font-weight-medium);
    font-style: normal;
}

@utility text-title-large {
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: var(--font-weight-medium);
    font-style: normal;
    color: var(--color-on-surface);
}

@utility text-title-medium {
    font-size: 1rem;
    line-height: var(--text-xl);
    font-weight: var(--font-weight-medium);
    font-style: normal;
}

@utility text-logo-font {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: var(--font-weight-black);
    line-height: 2.25rem;
}

@layer base {
    body {
        @apply bg-surface-container text-on-surface-variant;
    }

    button {
        @apply outline-none cursor-pointer text-label-large;
    }
}